{% extends 'security/monProfile.html.twig' %}

{% block title %}
    {{ parent() }} Mes résultats
{% endblock %}

{% block profilebody %}
    <h2>Mes resultats</h2>
    {% for result in resultat %}
        Test I3P: {{ result.profil.nom }} <a href="{{ path('resultat', {name: 'I3P', id: result.id}) }}">Consulter</a>
    {% endfor %}
{% endblock %}
