security:
    encoders:
        App\Entity\Utilisateur:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            switch_user: true
            anonymous: true
            lazy: true
            provider: app_user_provider
            guard:
                authenticators:
                    - App\Security\ArchimedAppAuthenticator
            remember_me:
                secret:   '%kernel.secret%'
                lifetime: 604800
            logout:
                path: app_logout
    role_hierarchy:
        ROLE_CONSULTANT:    ROLE_USER
        ROLE_ADMIN:         [ROLE_CONSULTANT, ROLE_ALLOWED_TO_SWITCH]
    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/PasswordUpdate, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/verify/email, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        #- { path: ^/admin, roles: ROLE_CONSULTANT }
        #- { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }
