<html>
<head>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>
<body style="max-width: 95%">
    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}
</body>
</html>
