{% extends 'empty-base.html.twig' %}
{% block page_content %}
<div class="col-sm-12">
    <div class="main-card mb-3 card">
        <div class="card-body">
            {{ include('i3p_profils/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_javascript %}
{{ parent() }}
    <script>
        jQuery(document).ready(() => {
            tinymce.init({
                selector: 'textarea',
                language: 'fr_FR',
                plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons autoresize',
                imagetools_cors_hosts: ['picsum.photos'],
                menubar: 'file edit view insert format tools table help',
                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                toolbar_sticky: true,
                autosave_ask_before_unload: true,
                autosave_interval: '30s',
                autosave_prefix: '{path}{query}-{id}-',
                autosave_restore_when_empty: false,
                autosave_retention: '2m',
                image_advtab: true,
                importcss_append: true,
                file_picker_callback: function (callback, value, meta) {
                    /* Provide file and text for the link dialog */
                    if (meta.filetype === 'file') {
                        callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                    }

                    /* Provide image and alt text for the image dialog */
                    if (meta.filetype === 'image') {
                        callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                    }

                    /* Provide alternative source and posted for the media dialog */
                    if (meta.filetype === 'media') {
                        callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                    }
                },
                template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                height: 'auto',
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | numlist bullist quicklink blockquote quickimage quicktable',
                noneditable_noneditable_class: 'mceNonEditable',
                skin: 'oxide',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
            });
        });
    </script>
{% endblock %}