{% extends 'main-base.html.twig' %}
{% block title %}{{ parent() }}Administration{% endblock %}
{% block page_subtitle %}Gestion utilisateurs{% endblock %}
{% block page_content %}
    <div class="col-sm-12" data-controller="users">
        <div class="marginTop3">
            <a href="{{ path('app_register') }}"><button class="marginTop1 btn btn-outline-dark btn-shadow btn-icon btn-pill btn-hover-shine"><i class="btn-icon-wrapper fa fa-plus"></i>Ajouter un utilisateur</button></a>
        </div>
        <div class="col-sm-12 margin-h-center marginTop2">
            <div class="card">
                <div class="card-body">
                    <table id="dataTable" class="ui celled table nowrap" data-users="{{ jsonUsers|json_encode }}" style="max-width: calc(100vw - 30px);"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="profil-modal" class="modal"></div>
{% endblock %}

{% block bottom_javascript %}
    <script>
        $(() =>{
            let iframe = $('#profil-iframe');
            iframe.on('load', function(){
                console.log('ici')
                var iframe_content = iframe.contents().find('body');
                iframe_content.on('resize', function(){
                    var elem = $(this);
                    iframe.css({ height: elem.outerHeight( true ) });
                    $('#profil-iframe').text( 'IFRAME width: ' + elem.width() + ', height: ' + elem.height() );
                });
                iframe_content.resize();
            });
        });
    </script>
{% endblock %}
