<html lang="fr" style="background: none">
    <head>
    <link rel="stylesheet" href="{{ asset('res/css/main.css') }}">
        <title></title>
    </head>
    <body id="addQuestionBody" style="height: 99%; overflow: hidden">
        {{ form(form) }}
    </body>
</html>