<form method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette ressources?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button class="btn btn-link text-danger text-lg-left">Supprimer</button>
</form>
