<form method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette ressources?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button type="button" class="btn btn-outline-danger border-0 btn-shadow btn-pill">supprimer</button>
</form>
