body{
    line-height: 1.5;
}

.bg-global {
    background-color: #fff7ee;
}

.text-small{
    font-size: 12px;
}

#registration_form_sexe{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.treeview-menu {
    display:none;
    list-style:none;
    margin:0;
    padding:0 0 0 5px
}
.treeview-menu .treeview-menu {
    padding-left:20px
}
.treeview-menu>li {
    margin:0
}
.treeview-menu>li>a {
    padding:5px 5px 5px 15px;
    display:block;
    font-size:14px
}
.treeview-menu>li>a>.fa,
.treeview-menu>li>a>.glyphicon,
.treeview-menu>li>a>.ion {
    width:20px
}
.treeview-menu>li>a>.fa-angle-down,
.treeview-menu>li>a>.fa-angle-left,
.treeview-menu>li>a>.pull-right-container>.fa-angle-down,
.treeview-menu>li>a>.pull-right-container>.fa-angle-left {
    width:auto
}
.treeview>ul.treeview-menu {
    overflow:hidden;
    height:auto;
    padding-top:0!important;
    padding-bottom:0!important
}
.treeview.menu-open>ul.treeview-menu {
    overflow:visible;
    height:auto
}

.navbar::after, .navbar::before {
    display: table;
    content: none;
}

.content-header{
    text-align: center;
}

.center{
    text-align: center;
}

.main-header .navbar {
    max-height: 50px;
}

#ButtEnBas{
    position: absolute;
    left: 0;
    bottom: 65px;
    width: 80%;
    margin: auto;
}

.main-header {
    background-color: #fffcf9;
}

.logo {
    background-color: transparent;
}

.main-header .sidebar-toggle::before {
    content: "\f0c9";
    color: #000;
    border-right: none;
}
.main-header .sidebar-toggle:hover {
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
    color: #999;
    background-color: #fff;
    border-right: none;
}

.flow-column{
    flex-flow: column nowrap;
}

.fixed .left-side, .fixed .main-header, .fixed .main-sidebar {
    position: fixed
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0
}

.hold-transition .content-wrapper, .hold-transition .left-side, .hold-transition .main-footer, .hold-transition .main-header .logo, .hold-transition .main-header .navbar, .hold-transition .main-sidebar, .hold-transition .menu-open .fa-angle-left, .hold-transition .right-side {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030
}

.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0
}

.layout-top-nav .main-header .navbar {
    margin-left: 0
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right
}

@media (max-width: 991px) {
    .main-header .navbar-custom-menu a, .main-header .navbar-right a {
        color: inherit;
        background: transparent
    }
}

@media (max-width: 767px) {
    .main-header .navbar-right {
        float: none
    }

    .navbar-collapse .main-header .navbar-right {
        margin: 7.5px -15px
    }

    .main-header .navbar-right > li {
        color: inherit;
        border: 0
    }
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px;
    font-family: fontAwesome
}

.main-header .sidebar-toggle:before {
    content: "\f0c9"
}

.main-header .sidebar-toggle:hover {
    color: #000
}

.main-header .sidebar-toggle:active, .main-header .sidebar-toggle:focus {
    background: transparent
}

.main-header .sidebar-toggle.fa5 {
    font-family: "Font Awesome\ 5 Free"
}

.main-header .sidebar-toggle.fa5:before {
    content: "\f0c9";
    font-weight: 900
}

.main-header .sidebar-toggle .icon-bar {
    display: none
}

.main-header .navbar .nav > li.user > a > .fa, .main-header .navbar .nav > li.user > a > .glyphicon, .main-header .navbar .nav > li.user > a > .ion {
    margin-right: 5px
}

.main-header .navbar .nav > li > a > .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9
}

.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden
}

.main-header .logo img {
    padding: 4px;
    object-fit: contain;
    margin: 0 auto
}

.main-header .logo .logo-lg {
    display: block
}

.main-header .logo .logo-lg img {
    max-width: 200px;
    max-height: 50px
}

.main-header .logo .logo-lg .brandlogo-image {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: -5px
}

.main-header .logo .logo-mini {
    display: none
}

.main-header .logo .logo-mini img {
    max-width: 50px;
    max-height: 50px
}

.main-header .logo .logo-mini .brandlogo-image {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px
}

.main-header .logo .brandlogo-image {
    float: left;
    height: 34px;
    width: auto
}

.main-header .navbar-brand {
    color: #fff
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out
}

@media (max-width: 767px) {
    .main-sidebar {
        -webkit-transform: translate(-230px);
        -ms-transform: translate(-230px);
        -o-transform: translate(-230px);
        transform: translate(-230px)
    }
}

@media (min-width: 768px) {
    .sidebar-collapse .main-sidebar {
        -webkit-transform: translate(-230px);
        -ms-transform: translate(-230px);
        -o-transform: translate(-230px);
        transform: translate(-230px)
    }
}

@media (max-width: 767px) {
    .sidebar-open .main-sidebar {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
    }
}

.sidebar {
    padding-bottom: 10px
}

.sidebar-form input:focus {
    border-color: transparent
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 20px
}

.sidebar-menu > li .badge, .sidebar-menu > li .label {
    margin-right: 5px
}

.sidebar-menu > li .badge {
    margin-top: 3px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease
}

.sidebar-menu li > a > .fa-angle-left {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px
}

.sidebar-menu .menu-open > a > .fa-angle-left, .sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.sidebar-menu .active > .treeview-menu {
    display: block
}

@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer {
        margin-left: 0
    }
}

@media (max-width: 767px) {
    .sidebar-open .content-wrapper, .sidebar-open .main-footer {
        -webkit-transform: translate(230px);
        -ms-transform: translate(230px);
        -o-transform: translate(230px);
        transform: translate(230px);
    }
}


@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .right-side {
        margin-left: 50px !important;
        z-index: 840
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        width: 50px !important;
        z-index: 850
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
        margin-right: 0
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px
    }

    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span > .pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0)
    }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 18px
    }

    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
        display: none
    }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px
    }
}

@media (min-width: 768px) {
    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu, .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
        display: block !important;
        position: absolute;
        width: 180px;
        left: 50px
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span {
        top: 0;
        margin-left: -3px;
        padding: 12px 5px 12px 20px;
        background-color: inherit
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        position: relative !important;
        float: right;
        width: auto !important;
        left: 180px !important;
        top: -22px !important;
        z-index: 900
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
        display: none
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        top: 44px;
        margin-left: 0
    }
}

.sidebar-expanded-on-hover .content-wrapper, .sidebar-expanded-on-hover .main-footer {
    margin-left: 50px
}

.sidebar-expanded-on-hover .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, .125)
}

.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden
}

.sidebar-menu:hover {
    overflow: visible
}

.sidebar-form, .sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip
}

.sidebar-menu li > a {
    position: relative
}

.sidebar-menu li > a > .pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px
}

@media print {
    .content-header, .left-side, .main-header, .main-sidebar, .no-print {
        display: none !important
    }

    .content-wrapper, .main-footer, .right-side {
        margin-left: 0 !important;
        min-height: 0 !important;
        -webkit-transform: translate(0) !important;
        -ms-transform: translate(0) !important;
        -o-transform: translate(0) !important;
        transform: translate(0) !important
    }

    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 0 !important
    }

    .invoice {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0
    }

    .invoice-col {
        float: left;
        width: 33.3333333%
    }

    .table-responsive {
        overflow: auto
    }

    .table-responsive > .table tr td, .table-responsive > .table tr th {
        white-space: normal !important
    }
}

.skin-black .main-header {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.skin-black .main-header .navbar-toggle {
    color: #333
}

.skin-black .main-header .navbar-brand {
    color: #333;
}


.skin-black .main-header .navbar .nav > li > a {
    color: #333
}

.skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav > .active > a, .skin-black .main-header .navbar .nav > li > a:active, .skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav > li > a:hover {
    background: #fff;
    color: #999
}

.skin-black .main-header .navbar .sidebar-toggle {
    color: #333
}


.skin-black .main-header .navbar > .sidebar-toggle {
    color: #333;
}

.skin-black .main-header .navbar .navbar-nav > li > a {
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black .main-header .navbar .navbar-right > li > a {
    border-left: 1px solid #eee;
    border-right-width: 0
}

.skin-black .main-header .logo {
    color: #333;
    border-bottom: 0 solid transparent;
}

.skin-black .main-header .logo:hover {
    background-color: #fff
}

@media (max-width: 767px) {
    .skin-black .main-header .logo {
        background-color: #222;
        color: #fff;
        border-bottom: 0 solid transparent;
        border-right: none;
        width: 100%;
    }

    .skin-black .main-header .logo:hover {
        background-color: #1f1f1f
    }
}

.skin-black .main-header li.user-header {
    background-color: #fffcf9
}

.skin-black .content-header {
    background: transparent;
    box-shadow: none
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    background-color: #fffcf9;
    overflow: -moz-hidden-unscrollable;
}

.skin-black .sidebar-menu > li.header {
    color: #fd9644;
    font-weight: 900;
    background: #fff7ee
}

.skin-black .sidebar-menu > li > a {
    border-left: 3px solid transparent
}

.skin-black .sidebar-menu > li.active > a, .skin-black .sidebar-menu > li.menu-open > a, .skin-black .sidebar-menu > li:hover > a {
    color: #fd9644;
    background: #fff7ee
}

.skin-black .sidebar-menu > li.active > a {
    border-left-color: #fd9644
}

.skin-black .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #fffcf9;
}

.skin-black .sidebar a {
    color: #919191;
}

.skin-black .sidebar a:hover {
    text-decoration: none
}

.skin-black .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af
}
.skin-black .sidebar-menu .treeview-menu > li.active > a{
    border-left-color: #fd9644;
}
.skin-black .sidebar-menu .treeview-menu > li.active > a, .skin-black .sidebar-menu .treeview-menu > li > a:hover {
    color: #fd9644;
}

.skin-black .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px
}

.skin-black .sidebar-form .btn, .skin-black .sidebar-form input[type=text] {
    box-shadow: none;
    background-color: #fff7ee;
    border: 1px solid transparent;
    height: 35px
}

.skin-black .sidebar-form input[type=text] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.skin-black .sidebar-form input[type=text]:focus, .skin-black .sidebar-form input[type=text]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-black .sidebar-form input[type=text]:focus + .input-group-btn .btn {
    border-left-color: #fff
}

.skin-black .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

.skin-black .pace .pace-progress {
    background: #222
}

.skin-black .pace .pace-activity {
    border-top-color: #222;
    border-left-color: #222
}

.sidebar-menu .treeview-menu > li > a > .fab, .sidebar-menu .treeview-menu > li > a > .fal, .sidebar-menu .treeview-menu > li > a > .far, .sidebar-menu .treeview-menu > li > a > .fas, .sidebar-menu > li > a > .fab, .sidebar-menu > li > a > .fal, .sidebar-menu > li > a > .far, .sidebar-menu > li > a > .fas {
    width: 20px
}

.main-header .sidebar-toggle {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900
}
.content-wrapper, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820
}

.layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
    margin-left: 0
}

@media (max-width: 767px) {
    .content-wrapper, .main-footer {
        margin-left: 0
    }
}

.content-wrapper {
    min-height: calc(100vh - 101px);
    background-color: #ecf0f5;
    z-index: 800
}

@media (max-width: 767px) {
    .content-wrapper {
        min-height: calc(100vh - 151px)
    }
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de
}


.fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px
}

@media (max-width: 767px) {
    .fixed .content-wrapper, .fixed .right-side {
        padding-top: 100px
    }
}

.content-header {
    position: relative;
    padding: 15px 15px 0
}

.content-header > h1 {
    margin: 0;
    font-size: 24px
}

.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300
}

.content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px
}

.content-header > .breadcrumb > li > a {
    color: #444;
    text-decoration: none;
    display: inline-block
}

.content-header > .breadcrumb > li > a > .fa, .content-header > .breadcrumb > li > a > .glyphicon, .content-header > .breadcrumb > li > a > .ion {
    margin-right: 5px
}

.content-header > .breadcrumb > li + li:before {
    content: ">\00a0"
}

@media (max-width: 991px) {
    .content-header > .breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #d2d6de;
        padding-left: 10px
    }

    .content-header > .breadcrumb li:before {
        color: #97a0b3
    }
}
strong{
    font-weight: 900 !important;
    font-size: 18px;
}
.content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px
}

.navbar-custom{
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.sidebar-toggle{
    position: absolute;
    top: -2px;
    left: 0;
}

.is-hidden{
    display: none;
}

.is-block{
    display: block;
}



.radios-Container div{
    margin-left: 10px;
}

.riasecFilters-Container div{
    margin-left: 15px;
}

@media (max-width: 767px) {
    .navbar-custom{
        display: block;
        margin-left: 0;
    }
    .sidebar-toggle{
        float: left;
    }
    .logo{
        width: 100%;
    }
}
.form-i3p {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.i3p-control{
    height: 225px;
    padding: 0 !important;
    margin: 15px;
    width: 31%;
}

.i3p-intitule{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.i3p-intitule > label {
    margin-bottom: 0;

}

.i3p-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
}

.i3p-submit{
    width: 100%;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

.input-group .form-control:focus {
    z-index: 3
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0
}

.form-group-lg .form-control + .form-control-feedback, .input-group-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback, .input-group-lg > .input-group-addon + .form-control-feedback, .input-group-lg > .input-group-btn > .btn + .form-control-feedback, .input-lg + .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

.form-group-sm .form-control + .form-control-feedback, .input-group-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback, .input-group-sm > .input-group-addon + .form-control-feedback, .input-group-sm > .input-group-btn > .btn + .form-control-feedback, .input-sm + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
    width: auto
}


.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto;
}

.input-group-addon > i {
    margin-top: 4px;
}

.input-group-addon.input-sm, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .input-group-addon.btn {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px
}

.input-group-addon.input-lg, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .input-group-addon.btn {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px
}

.input-group-addon input[type=checkbox], .input-group-addon input[type=radio] {
    margin-top: 0
}

.input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group .form-control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group-addon:first-child {
    border-right: 0
}

.input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group .form-control:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group-addon:last-child {
    border-left: 0
}

.wrapper-apercu{
    width: 100%;
    min-height: 100%;
    background-color: #ecf0f5;
}


.flip-card {
    background-color: transparent;
    width: 440px;
    height: 293px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.sidebar i{
    font-size: 20px;
}

.pdf-viewer{
    min-height: calc(100vh - 185px);
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact
}

.custom-control-inline {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: none
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: inset 0 0 0 transparent, 0 0 0 1px #fff, 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #80bdff
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
    box-shadow: none
}

.custom-control-input:disabled ~ .custom-control-label, .custom-control-input[disabled] ~ .custom-control-label {
    color: #6c757d
}

.custom-control-input:disabled ~ .custom-control-label::before, .custom-control-input[disabled] ~ .custom-control-label::before {
    background-color: #e9ecef
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #dee2e6;
    border: #adb5bd solid 1px;
    box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, .1)
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: 50%/50% 50% no-repeat
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #007bff;
    background-color: #007bff;
    box-shadow: none
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E")
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, .5)
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, .5)
}

.custom-switch {
    padding-left: 2.25rem
}

.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 1.75rem;
    pointer-events: all;
    border-radius: .5rem
}

.custom-switch .custom-control-label::after {
    top: calc(.25rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: #adb5bd;
    border-radius: .5rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-transform .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .custom-switch .custom-control-label::after {
        transition: none
    }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #dee2e6;
    -webkit-transform: translateX(.75rem);
    transform: translateX(.75rem)
}

.custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(0, 123, 255, .5)
}

.custom-switch.custom-switch-off-danger .custom-control-input ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #921925
}

.custom-switch.custom-switch-off-danger .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(220, 53, 69, .25)
}

.custom-switch.custom-switch-off-danger .custom-control-input ~ .custom-control-label::after {
    background-color: #7c151f
}

.custom-switch.custom-switch-off-success .custom-control-input ~ .custom-control-label::before {
    background-color: #28a745;
    border-color: #145523
}

.custom-switch.custom-switch-off-success .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(40, 167, 69, .25)
}

.custom-switch.custom-switch-off-success .custom-control-input ~ .custom-control-label::after {
    background-color: #0f401b
}

.custom-switch.custom-switch-on-success .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #28a745;
    border-color: #145523
}

.custom-switch.custom-switch-on-success .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(40, 167, 69, .25)
}

.custom-switch.custom-switch-on-success .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #86e29b
}

.tag-container {
    max-width: 300px; /* helps wrap the tags in a specific width */
}

.dashfolio-tag {
    cursor:pointer;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    margin-top: 3px; /*incase tags go in next line, will space */
    color:#fff;
    margin-right: 4px;
    background:#789;
    padding-right: 20px; /* adds space inside the tags for the 'x' button */
}

.full-width{
    max-width: 100%;
    min-width: 100%;
    padding: 0;
}

.dashfolio-tag:hover{
    opacity:0.7;
}

.dashfolio-tag:after {
    position:absolute;
    content:"×";
    padding:2px 2px;
    margin-left:2px;
    font-size:11px;
}
