.index-container{
    width: 100%;
}

.pole-emploi-icon{
    width: 26.5px;
    height: 25px;
    background-image: url(../assets/components/icons/pole-emploi/pole-emploi.svg);
    background-size: cover;
    margin: auto;
}