.testSelect-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#testsInscris {
    width: 50%;
    text-align: left;
}

#testsInscris label{
    max-width: 100%;
}

#testsInscris > label{
    border-bottom: 1px solid rgba(0,0,0, 0.15);
}

#resultatInscris{
    width: 50%;
    text-align: left;
}

#resultatInscris label{
    max-width: 100%;
}

#resultatInscris > label{
    border-bottom: 1px solid rgba(0,0,0, 0.15);
}

