

.Realiste figure{
  background: url(/assets/assets/images/riasec/REALISTE.png);
  display: block;
  background-size: contain;
  height: inherit;
}

.Investigateur figure{
  background: url(/assets/assets/images/riasec/INVESTIGATEUR.png);
  display: block;
  background-size: contain;
  height: inherit;
}

.Artiste figure{
  background: url(/assets/assets/images/riasec/ARTISTIQUE.png);
  display: block;
  background-size: contain;
  height: inherit;
}

.Social figure{
  background: url(/assets/assets/images/riasec/SOCIAL.png);
  display: block;
  background-size: contain;
  height: inherit;
}

.Entrepreneur figure{
  background: url(/assets/assets/images/riasec/ENTREPRENANT.png);
  display: block;
  background-size: contain;
  height: inherit;
}

.Conventionnel figure{
  background: url(/assets/assets/images/riasec/CONVENTIONNEL.png);
  display: block;
  background-size: contain;
  height: inherit;
}
