.question-row{
    width: 80%;
    margin: 3em auto 3em auto;
    padding:  5px;
    /*border: 1px solid rgba(174, 174, 174, 0.4);*/
    border-radius: 10px;
    box-shadow: #bebebe 0 0 30px 0;
}

.questionLabel-container{
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.questionLabel-left{
    flex-basis: 45%;
    text-align: left;
    padding: 5px;
}

.questionLabel-middle{
    width: 5px;
    background-color: #aeaeae;
    border-radius: 2px;
}

.questionLabel-right{
    flex-basis: 45%;
    text-align: right;
    padding: 5px;
}
.inputsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.inputsContainer label {
    margin-top: 0.5em;
    flex-basis: 14.28%;
    flex-grow: 7;
    order: 2;
}

.inputsContainer input {
    flex-basis: 14.28%;
    flex-grow: 7;
    order: 1;
}


.realiste-head:before{
    content: 'Réaliste';
}


.investigateur-head:before{
    content: 'Investigateur';
}


.artiste-head:before{
    content: 'Artiste';
}


.social-head:before{
    content: 'Social';
}


.entrepreneur-head:before{
    content: 'Entrepreneur';
}


.conventionnel-head:before{
    content: 'Conventionnel';
}

@media screen and (max-width: 765px){
    .riasec-figures {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 100%;
    }
    .riasec-figure{
        display: flex;
        flex-flow: column;
        flex-basis: 50%;
        align-items: center;
    }
    .realiste-head:before{
        content: 'R';
    }


    .investigateur-head:before{
        content: 'I';
    }


    .artiste-head:before{
        content: 'A';
    }


    .social-head:before{
        content: 'S';
    }


    .entrepreneur-head:before{
        content: 'E';
    }


    .conventionnel-head:before{
        content: 'C';
    }

}

.content-card-back-realiste{
    background: url("/assets/assets/images/riasec/cards/back-realiste.png");
    background-size: cover;
    height: auto;
}
.content-card-front-realiste{
    background: url("/assets/assets/images/riasec/cards/front-realiste.png");
    background-size: cover;
    height: auto;
}

.content-card-back-investigateur{
    background: url("/assets/assets/images/riasec/cards/back-investigateur.png");
    background-size: cover;
    height: auto;
}
.content-card-front-investigateur{
    background: url("/assets/assets/images/riasec/cards/front-investigateur.png");
    background-size: cover;
    height: inherit;
}

.content-card-back-artiste{
    background: url("/assets/assets/images/riasec/cards/back-artiste.png");
    background-size: cover;
    height: inherit;
}
.content-card-front-artiste{
    background: url("/assets/assets/images/riasec/cards/front-artiste.png");
    background-size: cover;
    height: inherit;
}

.content-card-back-social{
    background: url("/assets/assets/images/riasec/cards/back-social.png");
    background-size: cover;
    height: inherit;
}
.content-card-front-social{
    background: url("/assets/assets/images/riasec/cards/front-social.png");
    background-size: cover;
    height: inherit;
}

.content-card-back-entrepreneur{
    background: url("/assets/assets/images/riasec/cards/back-entreprenant.png");
    background-size: cover;
    height: inherit;
}
.content-card-front-entrepreneur{
    background: url("/assets/assets/images/riasec/cards/front-entreprenant.png");
    background-size: cover;
    height: inherit;
}

.content-card-back-conventionnel{
    background: url("/assets/assets/images/riasec/cards/back-conventionnel.png");
    background-size: cover;
    height: inherit;
}
.content-card-front-conventionnel{
    background: url("/assets/assets/images/riasec/cards/front-conventionnel.png");
    background-size: cover;
    height: inherit;
}
