<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title></title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <style>
        body{
            position: unset;
            overflow: auto;
        }
    </style>
</head>
<body>
    <section class="content-pdf">
        <div class="container-fluid">
            {% block page_content %}{% endblock %}
        </div>
    </section>
{% block bottom_javascript %}{% endblock %}
</body>
</html>
