<ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">Menu</li>
    <li class="mm-active">
        <a href="#">
            <i class="metismenu-icon pe-7s-rocket"></i>
            Dashboards
            <i class="metismenu-state-icon caret-left"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="metismenu-icon pe-7s-browser"></i>
            Pages
            <i class="metismenu-state-icon caret-left"></i>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="metismenu-icon pe-7s-plugin"></i>
            Applications
            <i class="metismenu-state-icon caret-left"></i>
        </a>
    </li>
</ul>
