<div class="main-card middle-half">
    <div class="card-body">
        <div class="row marginTop3">
            <div class="grid-menu grid-menu-2col">
                <div class="no-gutters row">
                    <div class="col-sm-6">
                        <a href="/test/I3P"><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-license btn-icon-wrapper btn-icon-lg mb-3"> </i>
                            I3P
                        </button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/test/IRMR"><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-license btn-icon-wrapper btn-icon-lg mb-3"> </i>
                            Riasec Flash
                        </button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href=""><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-license btn-icon-wrapper btn-icon-lg mb-3"> </i>
                            Positioning skills
                        </button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href=""><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-database btn-icon-wrapper btn-icon-lg mb-3"> </i>
                            API Pole-emploi
                        </button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/manager/?conf=default"><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-file-empty btn-icon-wrapper btn-icon-lg mb-3"> </i>Documents
                        </button></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/admin/ressources"><button class="btn-icon-vertical btn-transition btn-outline-link">
                            <i class="lnr-earth btn-icon-wrapper btn-icon-lg mb-3"> </i>Ressources
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
