<div class="vertical-menu marginTop3">
    {% if app.user.tests == null %}
        <a href="#">Demande d'acces aux tests</a>
    {% else %}
        {% for test in app.user.tests %}
            <a href="{{ path('test', {name: test.nom}) }}">Commencer le test {{ test.nom }}</a>
        {% endfor %}
    {% endif %}
    <a href="{{ path('monProfile', {id: app.user.id}) }}">Mon profile</a>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
</div>